.form_input {
  width: 100%;
  padding: 16px 12px;
  background-color: #111419;
  border: 1px solid #FFFFFF1F;
  font-size: 12px;
  font-weight: 400;
  color: white;
  border-radius: 16px;
  margin-bottom: 8px;
}